body 
{
  margin: 0;
  background-color: #ADD8E6;
  font-size: 10px;
}

#main-aside-wrapper 
{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 100%;
   margin: 20px;
  padding: 20px;
 
}
#main-aside-wrapper main, #main-aside-wrapper aside 
{
  background-color: #ADD8E6;

}
#main-aside-wrapper aside 
{
  flex: 1;
  order: 1;
  
}
#main-aside-wrapper main 
{
  flex: 1;
  order: 2;

}

#main-aside-wrapper nav 
{
  flex: 1;
  order: 3;
  width: 100%;
  display: block;
}

#main-aside-wrapper links 
{
  flex: 1;
  order: 5;
  width: 100%;
}

#main-aside-wrapper tabl 
{
  flex: 1;
  order: 4;
  width: 100%;
}

#main-aside-wrapper forma 
{
  flex: 1;
  order: 6;
  width: 100%;
}

#main-aside-wrapper foot 
{
  flex: 1;
  order: 7;
  background-color: #ADD8E6;

}
@media screen and (min-width: 1000px) 
{
  #main-aside-wrapper 
  {
    flex-direction: column;
    flex: 1;
    order: 1;
    margin: 0 auto;
  }

#main-aside-wrapper main 
{
  flex: 1;
  order: 3;

}

#main-aside-wrapper nav 
{
  flex: 1;
  order: 2;
  position: relative;
  left: 70%;
}


#main-aside-wrapper links 
{
  flex: 1;
  order: 4;
  width: 100%;
}

#main-aside-wrapper tabl 
{
  flex: 1;
  order: 5;
  width: 100%;
}

#main-aside-wrapper forma {
  flex: 1;
  order: 6;
  width: 100%;
}

#main-aside-wrapper foot {
  flex: 1;
  order: 7;
  background-color: #ADD8E6;

}

#main-aside-wrapper ul li 
{
  display: inline;
}
}

#logo {
   float: left;
   max-width: 100%;
   height: auto;
}

header
{
  background-color:bisque;
  padding: 15px;
  height: 110px;
  margin: 0;
  width: 100%;
  display: block;
}

.menu 
{
  position: absolute;
  top: 0;
  right: 150px;
  font-size: 20px;
  font-size: larger;
}

.menu a 
{
  margin-right: 15px;
}
  
.name 
{
  background-color: white;
  padding: 10px;
}
  
.body 
{
  max-width: 900px;
  background-color:rgb(255, 255, 228);
  margin: 0 auto;
  margin-top: 15px;
  padding: 10px;
}
  
footer 
{
  background-color:bisque;
  height: 25px;
  padding: 10px;
  text-align: left;
  width: 100%;
  display: block;
  margin-top: 20px;
}
  
th, td 
{
  padding: 5px;
  text-align: center;
}
  
th 
{
  font-size: 20px;
  background-color: white;
}
  
tr:nth-child(even) 
{
  font-size: 20px;
  color: #000000;
  background-color: white;
}
  
tr:nth-child(odd) 
{
  font-size: 20px;
  color: #000000;
  background-color: white;
}

h1{
  font-size: 40px;
}
h2,h3,h4
{
  font-size: 30px;
  background-color: white;
}
