body 
  {
    margin: 0;
  }
  
  header 
  {
    background-color: #ADD8E6;
    padding: 10px;
    height: 100px;
    width: 100%;
  }

  .menu 
  {
    position: absolute;
    top: 0;
    right: 150px;
    font-size: 10px;
  }
  .menu a {
    margin-right: 10px;
  }
  
  .name {
    background-color: #ADD8E6;
    padding: 10px;
  }
  
  .body {
    max-width: 500px;
    background-color: white;
    margin: 0 auto;
    margin-top: 0px;
    padding: 10px;
  }
  
  footer {
    background-color: #ADD8E6;
    height: 25px;
    padding: 10px;
    text-align: left;
  }
  
  th, td {
    padding: 10px;
    text-align: center;
  }
  
  th {
      font-size: 20px;
      text-align: center;
      background-color: #ADD8E6;
    }
  
  tr:nth-child(even) {
    font-size: 20px;
    text-align: center;
    color: #000000;
  }
  
  tr:nth-child(odd) {
    font-size: 20px;
    text-align: center;
    color: #000000;
  }
