
.container {
    width: 50%;
    background-color:lightseagreen;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-width: 2px;
    border-style: solid;
    border-color: steelblue;
    border-radius: 10px;
    padding: 10px;
    padding-bottom: 20px;
    font-family: cursive;
}

button {
    width: 25%;
    margin: 10px;
}

input {
    margin: 10px;
}

body {
    display: flex;
    justify-content: center;
}

h2 {
    margin-bottom: 0;
}
